.poll-widget{
    margin: 0 auto;
}
.poll-container{
    background: white;
    max-width: 100%;
    border-radius: 15px;
    width: 400px;
}

.poll-question{
    font-size: 20px;
    font-family: sans-serif;
    border-bottom: 1px solid lightgrey;
    padding: 20px;
}

.poll-answers{
    padding: 30px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.poll-answer{
    padding: 8px;
    border: 1px solid grey;
    border-radius: 10px;
    position: relative;
    z-index:;
    cursor: pointer;
}

.poll-answer-percentage{
    position: absolute;
    right: 8px;
    top: 8px;
}

.poll-answer-label{
    position: relative;
    z-index: 9;
}

.poll-answer-background{
    position: absolute;
    height: 100%;
    width: 0%;
    left: 0;
    top: 0;
    background: lightgrey;
    z-index: 0;
    border-radius: 10px 0 0 10px;
}

.poll-results{
    text-align: center;
    padding: 0 0 10px;
    font-size: 16px;
    color: green;
}

.poll-count{
    position: absolute;
    right: 3px;
    top: -20px;
    color: green;
}